.about {
    padding-top: 60px;
    padding-bottom: 30px;
    
}
   .about-content__list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
    .about-content__list {
        @media screen and (min-width:768px) {
        width: 738px;
    }
}
    

    .about-content__item {
        @media screen and (min-width:768px) {
            width: 354px;
            }
    }

    // .about-content__item:not(:last-child) {
    //     margin-right: 30px;
    // }
    
    .about-content__title {
        @include font(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: var(--header-color);
        margin-bottom: 10px;
        @media screen and (min-width:480px) {
            text-align: center;
            }
       
            
    }
    
    
    
    .about-content__after-title {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--add-colar);
        // width: 270px;
        // height: 75px;
        @media screen and (min-width:480px) {
            width: 450px;
            height: 50px;
            margin-bottom: 30px;
            }
        @media screen and (min-width:768px) {
            height: 50px;
            margin-bottom: 30px;
            width: 354px;
            }
            
        }
    .about-content__picture {
        display: flex;
        
    }
    
    .about-content__picture-item {
        // width: 270px;
        // height: 120px;
        // margin-left: 30px;
        border-radius: 4px;
        background-color:#F5F4FA;
        margin-bottom: 30px;
        @media screen and (min-width:480px) {
            width: 450px;
            height: 120px;
        }
        @media screen and (min-width:768px) {
            width: 354px;
            height: 120px;
        }
    }
        
    .about-content__picture-icon {
        // margin: 25px 100px 25px 100px; 
        @media screen and (min-width:480px) {
        margin: 25px 192.34px 25px 192.34px;
        }
        @media screen and (min-width:768px) {
            margin: 25px 192.34px 25px 192.34px;
            }
    }
    
    
    .about-content__picture-item:first-child {
        margin-left: 0;
    }
    


