.clients {
    margin-top: 94px;
    margin-bottom: 94px;
}
.clients-content__title {
        @include font(700, 36px, 1.17, 0.03em);
        text-align: center;
        color: var(--header-color);
        margin-bottom: 50px;
    }
    
    .clients-content__list{
        display: flex;
    }
    
    .clients-content__item {
        width: 170px;
        height: 92px;
        margin-left: 30px;
    }
    
    .clients-content__item:first-child {
        margin-left: 0;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .clients-content__link {
        @extend %align-list;
        justify-content: center;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .clients-content__icon {
        fill: #AFB1B8;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .clients-content__link:hover .clients-content__icon, 
    .clients-content__link:focus .clients-content__icon {
        fill: var(--accent-color);
        
    }
    
    .clients-content__link:hover,
    .clients-content__link:focus {
    fill: var(--accent-color);
    border: 1px solid #2196F3;
    
}

