.example {
    padding-top: 94px;
    padding-bottom: 94px;
}
    .example-content__title {
        @include font(700, 36px, 1.17, 0.03em);
        text-align: center;
        color: var(--header-color);
        margin-bottom: 50px;
        
    }
    
    .example-content__item:not(:last-child) {
        margin-right: 30px;
    }
    
    .example-content__list {
        padding-bottom: 188;
        display: flex;
    }
    
    .example-content__pict-title {
        position: absolute;
        height: 70px;
        top: 1435px;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        padding-top: 27px;
    }
    



