



p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: o;
    padding-left: 0;
}





.header {
    background-color: white;
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-footer {
    width: 231px;
    margin-right: 70px;
}

.logo-accent-add {
    color: #FFFFFF;
}




