.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .footer-content__logo {
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        @include font(700, 26px, 1.19, 0.03em);
        color: #2196F3;
        margin-bottom: 20px;
        display: flex;
    }
    
    .footer-logo-accent-main {
        color: #FFFFFF;
    }
    
     .footer-content__tel {
        @include font(400, 14px, 1.71, 0.03em);
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        }
        
    .footer-content__mail {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
    }
     
    .footer-content__address {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .footer-content__item:not(:last-child) {
        margin-bottom: 9px;
    }

    .footer-content__container {
        display: flex;
    }












